@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

body,
body * {
  font-size: 20px;
  font-family: "Lobster", cursive;
  color: goldenrod;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  font-size: 22px;
}

.title {
  font-size: 40px;
  font-weight: 400;
}

.game-container {
  padding: 20px 60px;
  text-align: center;
  background-color: darkred;
  border-radius: 20px;
  box-shadow: 0.1px 0.1px 20px black;
}

.toolbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  display: grid;
  width: 400px;
  height: 400px;
}

.grid-cell {
  user-select: none;
  border: 1px solid black;
}
